@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border: none;
  outline: none;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}





@mixin td-btn-generator($color,$background, $border, $disabled, $delta){

  @include button-variant($color, $background, $border);

  &:hover, &:active {
    background-color: lighten($background, $delta);
  }

  &.td-btn-disabled {
    background-color: $disabled;
    color: $color;
    &.td-btn-disabled:hover, &.td-btn-disabled:active {
      background-color: $disabled;
      outline: none;
      border: $border;
      @include box-shadow(none);
    }
  }

}