.td-btn-default {
  @include td-btn-generator($td-white, $td-light-gray, $td-none, $td-btn-default-disabled, $td-btn-lighter-delta);
}

.td-btn-dark {

  @include td-btn-generator($td-white, $td-dark-gray, $td-none, $td-btn-default-disabled, $td-btn-lighter-delta);
}

.td-btn-static {
  @include td-btn-generator($td-white, darken($td-ash, $td-btn-darker-delta), $td-none, lighten($td-ash, $td-btn-disabled-delta), $td-btn-darker-delta);
}

.td-btn-error {
  @include td-btn-generator($td-white, $td-red, $td-none, lighten($td-red, $td-btn-disabled-delta), $td-btn-lighter-delta);
}

.td-btn-info {
  @include td-btn-generator($td-white, $td-yellow, $td-none, lighten($td-yellow, $td-btn-disabled-delta), $td-btn-lighter-delta);
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $td-border-radius-large);
}

.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $td-border-radius-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $td-border-radius-small);
}

.radio.td-radio-btn {
  position: relative;

  label {
    background: url('../../images/radio_unselected.png') no-repeat;
    height: 20px;
    background-size: 20px 20px;
    padding-left: 25px;
    line-height: 20px;
    @include transition(all 0.2s ease-in-out);
  }
  input {
    visibility: hidden;
    position: absolute;
    left: 23px;
  }

  input[type="radio"]:checked + label {
    background: url('../../images/radio_selected.png') no-repeat;
  }

  &.td-radio-btn-disabled {
    background: url('../../images/radio_disabled.png') no-repeat;

  }

}

.checkbox.td-checkbox-btn {
  position: relative;

  label {
    background: url('../../images/checkbox_unchecked.png') no-repeat;
    height: 20px;
    background-size: 20px 20px;
    padding-left: 25px;
    line-height: 20px;
    @include transition(all 0.2s ease-in-out);
  }
  input {
    visibility: hidden;
    position: absolute;
    left: 23px;
  }
  input[type="checkbox"]:checked + label {
    background: url('../../images/checkbox_checked.png') no-repeat;
  }

  &.td-checkbox-btn-disabled {
    background: url('../../images/checkbox_disabled.png') no-repeat;

  }

}

