.td-carousel {

  .item {

    .td-carousel-overlay {

      position: absolute;
      width: 50%;
      height: 100%;
      left: 0px;
      top: 0px;
      @include background-color-rgba-mode($td-white, 0.9);
      padding: 50px 0px 0px 40px;
      color: #5f544c;

      h1 {
        font-size: 36px;
        font-family: prelosemibold;
      }

      a {

      }

      p {
        font-size: $td-font-size-large;
      }

    }

  }

  .carousel-indicators {
    bottom: -12px;
    left: auto;
    right: 0px;
    width: 20%;
    min-height: 35px;
    li {
      @include border-all-side-radius(0px);
      width: 20px;
      height: 20px;
      text-indent: 0px;
      background-color: $pure-white;

    }

    .active {

      margin: 1px;
      height: 25px;
      background-color: $pure-white;
    }

  }

  .carousel-inner {
    border: 8px solid $pure-white;

    .item {

      a {

        img {

          width: 100%;

        }

      }

      img {

        width: 100%;

      }

    }

  }

}