.form-control {
  background-color: $td-input-background;
  @include form-control-focus();
  @include form-control-hover();
  font-family: proxima_nova_rgregular;


  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $td-text-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }
}



.form-group {

  &.has-error{

    input{
      color: $td-input-error ;
    }

  }

}



.radio,
.checkbox {
font-size:$form-font-size;
  label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}