.td-select-box {
  border: 1px solid $input-border;
  position: relative;
  background-color: $td-input-background;
  border-radius: $input-border-radius;
  font-size: 14px;
  a {
    display: block;
    padding: 10px;
    font-family: proxima_nova_rgregular;
    &:hover {
      text-decoration: none;
    }
    span {
      float: right;
    }
  }
  ul {
    position: absolute;
    list-style-type: none;
    font-family: proxima_novalight;
    display: block;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0px;
    max-height: 150px;
    overflow-y: auto;
    background-color: $btn-default-bg;
    @include border-bottom-radius(4px);
    top: 40px;
    @include box-shadow(5px 5px 5px #ccc);

    li {
      border-bottom: 1px solid rgba(144, 133, 125, 0.2);
      line-height: 25px;
      cursor: pointer;
      padding: 8px;

      &:hover {

        background-color: lighten($td-input-background, $td-btn-lighter-delta);

      }

    }

  }

}

.td-select-box-disabled {

  background-color: $td-text-disabled;

}