.table {

  font-family: proxima_novalight;

  &.td-table-white {
    background-color: $pure-white;

  }

  thead.td-table-header {
    background-color: $td-light-gray;
    color: $pure-white;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        font-size: $td-table-content-font-size;
        padding: $td-table-cell-padding;
        border: none;

      }

      &.td-title {

        td {
          color: $td-light-gray;
          font-size: $td-font-size-large;
          border-bottom: 1px solid #ddd;

        }

      }

    }
  }

}





.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: $td-white;
    }
  }
}