.product-box {

  width: 160px;
  border: 1px solid rgba(144, 133, 125, 0.2);

  &:hover {
    border: 1px solid #cdc2ba;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.14);

  }

  background-color: $solid-white;
  @include border-all-side-radius($td-border-radius-base);

  &.product-box-active {

    .product-top {
      .product-status {
        display: block;
        @include background-color-rgba-mode($td-dark-gray, 0.8);
        width: 100%;
        height: 100%;
        color: $solid-white;
        top: 0px;
        left: 0px;
        text-align: center;
        padding-top: 10px;
        span {
          display: block;
          font-size: 16px;
          font-family: $td-proxima-nova-light;
          line-height: 16px;
        }
        span.num {
          font-family: $td-prelo-extra-light;
          font-size: 60px;
          line-height: 60px;

        }
      }

    }
    .product-action {

      .td-plus {
        display: none;
      }

      .td-minus {
        display: block;
        background-color: $td-dark-gray;

        &:hover {
          background-color: darken($td-dark-gray, 5%);
        }
      }

    }

  }

  span {
    display: block;
  }

  .product-top {
    position: relative;
    height: 105px;
    overflow: hidden;

    img {
      display: block;
      height: 110px;
      margin-left: auto;
      margin-right: auto;
    }

    .product-info-wrapper {
      position: absolute;
      top: -2px;
      left: -2px;
      width: 100%;
      text-align: center;
      z-index: 3;

      .discount {
        width: 40px;
        height: 40px;
        background-color: #ee6646;
        @include border-all-side-radius($td-border-radius-base);
        border-bottom-right-radius: 20px;
        color: $solid-white;
        display: block;
        padding-top: 3px;
        font-family: $td-prelo-semi-bold;
        @include td-box-shadow-shadow(1px, 0px, 9px, 0px, 0.3);

        span:first-child {
          font-size: 12px;
          line-height: 14px;
        }

        span:last-child {
          font-size: 17px;
          line-height: 20px;
          position: absolute;
          width: 40px;
          display: inline-block;
          top: 17px;
          left: 0;
          text-align: center;
        }
      }

    }

    .product-status {
      position: absolute;
      display: none;
      z-index: 2;
    }

  }

  .product-details {
    padding: 10px;
    border-bottom: 1px solid rgba(144, 133, 125, 0.2);

    .product-description {
    }

    .product-owner {
      height: 17px;
      a {
        font-size: 12px;
        font-family: $td-proxima-nova-italic;
      }

    }
    span:first-child {
      height: 36px;
      overflow: hidden;
      padding-right: 0;
    }

  }

  .product-price {

    > div {
      min-height: 46px;
    }

    .old-price {
      font-size: 14px;
      font-family: $td-proxima-regular;
      float: left;
      padding: 0px 0px 0px 10px;
      color: $td-text-disabled;
      text-decoration: line-through;
      line-height: 35px;

    }

    .new-price {
      float: right;
      font-size: 16px;
      font-family: $td-proxima-nova-rgbold;
      padding: 0px 10px 0px 0px;
      color: $td-light-gray;
      height: 35px;
      line-height: 35px;

    }

  }

  .product-action {
    float: left;
    width: 100%;
    background-color: $td-light-gray;
    color: $td-white;
    cursor: pointer;

    .product-action-one {
      width: 30%;
      float: left;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding: 5px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);

    }
    .product-action-two {
      padding: 5px;
      width: 70%;
      float: left;
      font-family: $td-proxima-nova-light;
      font-size: 16px;
      text-align: center;
      line-height: 27px;
      &:hover {
        background-color: darken($td-light-gray, 5%);
      }

    }

    .td-plus {
      display: block;
    }

    .td-minus {
      display: none;
    }

  }

}

//Mobile
@media (max-width: 550px) {

  .product-box {

    width: 145px;

    .product-details {
      padding: 8px;

    }

    .product-price {
      .old-price {
        padding-right: 0px;
      }
    }

  }

}