.td-side-navigation {

  & > ul.generic-menu-list {
    list-style-type: none;
    border-left: $td-panel-border-left;
    display: block;
    padding-left: 0px;
    @include border-all-side-radius($td-border-radius-base);
    position: relative;

    & > li {
      background-color: $solid-white;
      border-bottom: $td-table-td-border;
      padding-left: 15px;
      padding-bottom: 0px;
      padding-top: 2px;
      line-height: 49px;
      color: $td-navigation-text-color;
      cursor: pointer;
      font-family: $td-proxima-nova-light;
      font-size: $td-font-size-medium;
      width: 100%;

      &:hover, &:active, &.active {

        > a {
          color: $solid-white;
          text-decoration: none;
        }

        background-color: $td-light-gray;
        color: $solid-white;

        div.dismissible-menu {
          display: block;

        }

      }

      & > div.dismissible-menu {
        display: none;
        z-index: 4;
        position: absolute;
        color: $td-navigation-text-color;
        right: -560px;
        top: 0;
        width: 550px;
        height: 100%;
        background-color: $solid-white;
        border-left: 8px solid $td-light-gray;
        @include border-right-radius($td-border-radius-base);
        @include border-bottom-radius($td-border-radius-base);
        box-shadow: 2px 3.464px 9px 0px rgba(0, 0, 0, 0.31);
        font-size: $td-font-size-normal;
      }

      &:after {

        content: "\f105";
        color: $td-light-gray;
        position: absolute;
        right: 15px;
        font-family: FontAwesome;
        font-size: 18px;
      }

      //dropdown
      .sublist {
        margin-left: -20px;
        border: 1px solid #c0bcb3;
        @include border-all-side-radius($td-border-radius-base);
        .panel-heading {
          background-color: #e7e5dd;
          border-bottom: 1px solid #bab6a8;
          @include padding-vertical(12px);

          h4.panel-title {
            font-size: 14px;

            i {
              color: #524840;
            }

          }

          .td-dropdown-caret:last-child {
            display: none;
          }

          &.opened {
            border-bottom: none;

            .td-dropdown-caret:first-child {
              display: none;

            }
            .td-dropdown-caret:last-child {
              display: block;

            }

          }

        }

        .panel-group {
          margin-bottom: 0;
          border: none;
          box-shadow: inset 0 0 10px #0f0;
        }

        .panel-body {
          padding: 0px;
          color: #524840;

          ul {
            padding: 0px;
            list-style-type: none;

            li {
              background-color: #bfb7ac;
              border-bottom: 1px solid #978e84;

              &.active {
                border-left: 4px solid #524840;
              }

              a {
                display: block;
                color: #524840;
                @include padding-horizontal(15px);
                line-height: 41px;

                span {

                  i {
                    color: #524840;

                  }

                }

              }

            }

          }

        }

      }

      & > a {

        &:hover {
          color: $solid-white;

        }
      }

    }

    & > li.active {

     & > a {

        &:after {
          content: "\f107";
          color: $solid-white;
          position: absolute;
          right: 15px;
          font-family: FontAwesome;
          font-size: 18px;

        }
      }

      &:after {
        display: none;
      }

    }

  }

}

.td-side-navigation {
  .dismissible-menu {
    & > div {
      width: 33.3%;
      float: left;
      height: 100%;
      // generic wrapper
      div {
        padding: 20px;
        ul {
          padding: 0px;
          li {
            line-height: 23px;

            list-style-type: none;
            padding: 0px;
            a {
              font-family: $td-proxima-nova-light;
              font-size: 14px;
            }
            a.title {
              font-size: 22px;
              color: $td-light-gray;
              font-family: $td-prelo-book;
            }
          }
        }
      }
      div.first, div.second {
        border-bottom: $td-table-td-border;

      }

    }

    & > div:nth-child(1), & > div:nth-child(2) {
      border-right: $td-table-td-border;
    }

  }
}