.td-side-navigation {

  & > ul {
    list-style-type: none;
    border-left: $td-panel-border-left;
    display: block;
    padding-left: 0px;
    @include border-all-side-radius($td-border-radius-base);
    position: relative;

    & > li {
      background-color: $solid-white;
      border-bottom: $td-table-td-border;
      padding-left: 15px;
      @include padding-vertical(0px);
      line-height: 49px;
      color: $td-navigation-text-color;
      cursor: pointer;
      font-family: $td-proxima-nova-light;
      font-size: $td-font-size-medium;
      width: 100%;

      &:hover, &:active, &.active {
        background-color: $td-light-gray;
        color: $solid-white;
        width: 105%;

        div.dismissible-menu {
          display: block;

        }

      }

      & > div.dismissible-menu {
        display: none;
        z-index: 2;
        position: absolute;
        color: $td-navigation-text-color;
        right: -560px;
        top: 0;
        width: 550px;
        height: 100%;
        background-color: $solid-white;
        border-left: 8px solid $td-light-gray;
        @include border-right-radius($td-border-radius-base);
        @include border-bottom-radius($td-border-radius-base);
        box-shadow: 2px 3.464px 9px 0px rgba(0, 0, 0, 0.31);
        font-size: $td-font-size-normal;
      }

      &:after {

        content: "\f105";
        color: $td-light-gray;
        position: absolute;
        right: 15px;
        font-family: FontAwesome;
        font-size: 15px;

      }

    }

  }

}