.toast-wrapper {
  display: none;
  position: relative;
  @include border-all-side-radius($td-border-radius-base);
  font-size: 13px;
  padding: 20px;
  padding-bottom: 15px;
  width: 335px;

  & > span {
    display: inline-block;
    color: $solid-white;
    width: 100%;
  }

  .context {
    font-family: $td-proxima-regular;
    font-size: 14px;
  }

  a {
    position: absolute;
    display: inline-block;
    line-height: 60px;
    color: $solid-white;
    font-size: 18px;
    right: 0;
    top: 0;
    width: 55px;
    height: 100%;
    border-left: 1px solid $td-toast-border;
    padding-left: 20px;
  }

  &.toast-success {
    border-bottom: 5px solid $td-toast-border;
    background-color: $td-modal-error;

  }

  &.toast-default {
    border-bottom: 5px solid $td-toast-default-border;
    background-color: $td-toast-default-back;


  a{
    border-left: 1px solid $td-toast-default-border;

  }

  }

  &.toast-visible {
    display: block;
  }

}