body {
  font-size: $td-font-size-base;
  background: url('#{$td-custom-image-path}back.jpeg') repeat;
  color: $td-dark-brown;
  font-family: $td-proxima-regular;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('#{$td-custom-font-path}/proximanova-light-webfont.eot');
  src: url('#{$td-custom-font-path}/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-light-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-light-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/proximanova-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('#{$td-custom-font-path}/proximanova-reg-webfont.eot');
  src: url('#{$td-custom-font-path}/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-reg-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-reg-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/proximanova-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight_italic';
  src: url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.eot');
  src: url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'prelobold';
  src: url('#{$td-custom-font-path}/preloslab_bold-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_bold-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_bold-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prelosemibold';
  src: url('#{$td-custom-font-path}/preloslab_semibold-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_semibold-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_semibold-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prelobook';
  src: url('#{$td-custom-font-path}/preloslab_book-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_book-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_book-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_book-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prelomedium';
  src: url('#{$td-custom-font-path}/preloslab_medium-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_medium-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_medium-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'preloblack';
  src: url('#{$td-custom-font-path}/preloslab_black-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_black-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_black-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'prelolight';
  src: url('#{$td-custom-font-path}/preloslab_light-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_light-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_light-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('#{$td-custom-font-path}/proximanova-bold-webfont.eot');
  src: url('#{$td-custom-font-path}/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-bold-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-bold-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('#{$td-custom-font-path}/proximanova-sbold-webfont.eot');
  src: url('#{$td-custom-font-path}/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-sbold-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-sbold-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/proximanova-sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'preloextralight';
  src: url('#{$td-custom-font-path}/preloslab_extralight-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_extralight-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_extralight-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_extralight-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'preloextrabold';
  src: url('#{$td-custom-font-path}/preloslab_extrabold-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_extrabold-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_extrabold-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'prelobook-italic';
  src: url('#{$td-custom-font-path}/preloslab_book_italic-webfont.eot');
  src: url('#{$td-custom-font-path}/preloslab_book_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_book_italic-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_book_italic-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/preloslab_book_italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url('#{$td-custom-font-path}/proximanova-regitalic-webfont.eot');
  src: url('#{$td-custom-font-path}/proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-regitalic-webfont.woff2') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-regitalic-webfont.woff') format('woff'),
  url('#{$td-custom-font-path}/proximanova-regitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}





.td-bg-light-gray {
  @include background-color($td-light-gray);
}

.td-bg-dark-gray {
  @include background-color($td-dark-gray);
}

.td-bg-dark-brown {
  @include background-color($td-dark-brown)
}

.td-bg-white {
  @include background-color($td-white);
}

.td-bg-ash {
  @include background-color($td-ash);
}

.td-bg-yellow {
  @include background-color($td-yellow);
}

.td-bg-red {
  @include background-color($td-red);
}

.td-bg-brown {
  @include background-color($td-brown);
}

.td-bg-water-gray {
  @include background-color($td-water-gray);
}

.td-bg-light-brown {
  @include background-color($td-light-brown);
}

a {
  font-family: $td-proxima-regular;
  font-size: $td-font-size-normal;
  text-decoration: none;

  &.btn {
    font-family: $td-proxima-nova-light;
  }

  &:hover, &:focus {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
    outline-offset: 0;
  }
}

p{

  a{
    text-decoration: underline;
  }

}

nav a {
  font-family: $td-proxima-nova-light;

}














