body {
  font-size: $td-font-size-base;
  background: url('../../images/back.jpeg') repeat;
  color: $td-dark-brown;
  font-family: $td-proxima-regular;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('../../fonts/proximanova-light-webfont.eot');
  src: url('../../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-light-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-light-webfont.woff') format('woff'),
  url('../../fonts/proximanova-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../../fonts/proximanova-reg-webfont.eot');
  src: url('../../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-reg-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-reg-webfont.woff') format('woff'),
  url('../../fonts/proximanova-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight_italic';
  src: url('../../fonts/proximanova-lightitalic-webfont.eot');
  src: url('../../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-lightitalic-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-lightitalic-webfont.woff') format('woff'),
  url('../../fonts/proximanova-lightitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'prelosemibold';
  src: url('../../fonts/preloslab_semibold-webfont.eot');
  src: url('../../fonts/preloslab_semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/preloslab_semibold-webfont.woff2') format('woff2'),
  url('../../fonts/preloslab_semibold-webfont.woff') format('woff'),
  url('../../fonts/preloslab_semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prelobook';
  src: url('../../fonts/preloslab_book-webfont.eot');
  src: url('../../fonts/preloslab_book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/preloslab_book-webfont.woff2') format('woff2'),
  url('../../fonts/preloslab_book-webfont.woff') format('woff'),
  url('../../fonts/preloslab_book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'preloblack';
  src: url('../../fonts/preloslab_black-webfont.eot');
  src: url('../../fonts/preloslab_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/preloslab_black-webfont.woff2') format('woff2'),
  url('../../fonts/preloslab_black-webfont.woff') format('woff'),
  url('../../fonts/preloslab_black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'prelolight';
  src: url('../../fonts/preloslab_light-webfont.eot');
  src: url('../../fonts/preloslab_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/preloslab_light-webfont.woff2') format('woff2'),
  url('../../fonts/preloslab_light-webfont.woff') format('woff'),
  url('../../fonts/preloslab_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../../fonts/proximanova-bold-webfont.eot');
  src: url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../../fonts/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../../fonts/proximanova-sbold-webfont.eot');
  src: url('../../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-sbold-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-sbold-webfont.woff') format('woff'),
  url('../../fonts/proximanova-sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'preloextralight';
  src: url('../../fonts/preloslab_extralight-webfont.eot');
  src: url('../../fonts/preloslab_extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/preloslab_extralight-webfont.woff2') format('woff2'),
  url('../../fonts/preloslab_extralight-webfont.woff') format('woff'),
  url('../../fonts/preloslab_extralight-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.td-bg-light-gray {
  @include background-color($td-light-gray);
}

.td-bg-dark-gray {
  @include background-color($td-dark-gray);
}

.td-bg-dark-brown {
  @include background-color($td-dark-brown)
}

.td-bg-white {
  @include background-color($td-white);
}

.td-bg-ash {
  @include background-color($td-ash);
}

.td-bg-yellow {
  @include background-color($td-yellow);
}

.td-bg-red {
  @include background-color($td-red);
}

.td-bg-brown {
  @include background-color($td-brown);
}

.td-bg-water-gray {
  @include background-color($td-water-gray);
}

.td-bg-light-brown {
  @include background-color($td-light-brown);
}

a {
  color: $td-dark-brown;
  font-family: $td-prelo-book;
  text-decoration: none;

  &.btn {
    font-family: $td-proxima-nova-light;
  }

  &:hover, &:focus {
    color: $td-dark-brown;
    text-decoration: underline;
  }
  &:focus {
    outline: none;
    outline-offset: 0;
  }

}

nav a {
  font-family: $td-proxima-nova-light;

}














