body {
  font-size: $td-font-size-base;
  background: url('#{$td-custom-image-path}back.jpg') repeat;
  color: $td-dark-brown;
  font-family: $td-proxima-regular;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('#{$td-custom-font-path}/proximanova-light-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/proximanova-light-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-light-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-light-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/proximanova-light-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('#{$td-custom-font-path}/proximanova-reg-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/proximanova-reg-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-reg-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-reg-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/proximanova-reg-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight_italic';
  src: url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/proximanova-lightitalic-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'prelobold';
  src: url('#{$td-custom-font-path}/preloslab_bold-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_bold-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_bold-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_bold-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_bold-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prelosemibold';
  src: url('#{$td-custom-font-path}/preloslab_semibold-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_semibold-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_semibold-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_semibold-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_semibold-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prelobook';
  src: url('#{$td-custom-font-path}/preloslab_book-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_book-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_book-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_book-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_book-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prelomedium';
  src: url('#{$td-custom-font-path}/preloslab_medium-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_medium-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_medium-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_medium-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_medium-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'preloblack';
  src: url('#{$td-custom-font-path}/preloslab_black-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_black-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_black-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_black-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_black-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'prelolight';
  src: url('#{$td-custom-font-path}/preloslab_light-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_light-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_light-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_light-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_light-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('#{$td-custom-font-path}/proximanova-bold-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/proximanova-bold-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-bold-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-bold-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/proximanova-bold-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('#{$td-custom-font-path}/proximanova-sbold-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/proximanova-sbold-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-sbold-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-sbold-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/proximanova-sbold-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'preloextralight';
  src: url('#{$td-custom-font-path}/preloslab_extralight-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_extralight-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_extralight-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_extralight-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_extralight-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'preloextrabold';
  src: url('#{$td-custom-font-path}/preloslab_extrabold-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_extrabold-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_extrabold-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_extrabold-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_extrabold-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'prelobook-italic';
  src: url('#{$td-custom-font-path}/preloslab_book_italic-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/preloslab_book_italic-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/preloslab_book_italic-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/preloslab_book_italic-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/preloslab_book_italic-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url('#{$td-custom-font-path}/proximanova-regitalic-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/proximanova-regitalic-webfont.eot#iefix#{$td-font-version}') format('embedded-opentype'),
  url('#{$td-custom-font-path}/proximanova-regitalic-webfont.woff2#{$td-font-version}') format('woff2'),
  url('#{$td-custom-font-path}/proximanova-regitalic-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/proximanova-regitalic-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;

}
/*
@font-face {
  font-family: 'housescript';
  src: url('#{$td-custom-font-path}/signpainter-housescript-webfont.eot#{$td-font-version}');
  src: url('#{$td-custom-font-path}/signpainter-housescript-webfont.eot#iefix#{$td-font-version}')
  format('embedded-opentype'), url('#{$td-custom-font-path}/signpainter-housescript-webfont.woff2#{$td-font-version}')
  format('woff2'), url('#{$td-custom-font-path}/signpainter-housescript-webfont.woff#{$td-font-version}') format('woff'),
  url('#{$td-custom-font-path}/signpainter-housescript-webfont.ttf#{$td-font-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
/* latin-ext */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC'), local('AmaticSC-Regular'), url('#{$td-custom-font-path}/6UByihrsVPWtZ99tNMIgMIX0hVgzZQUfRDuZrPvH3D8.woff2#{$td-font-version}') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC'), local('AmaticSC-Regular'), url('#{$td-custom-font-path}/DPPfSFKxRTXvae2bKDzp5JBw1xU1rKptJj_0jans920.woff2#{$td-font-version}') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url('#{$td-custom-font-path}/IDnkRTPGcrSVo50UyYNK74joYw3YTyktCCer_ilOlhE.woff2#{$td-font-version}') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url('#{$td-custom-font-path}/IDnkRTPGcrSVo50UyYNK7xampu5_7CjHW5spxoeN3Vs.woff2#{$td-font-version}') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.td-bg-light-gray {
  @include background-color($td-light-gray);
}

.td-bg-dark-gray {
  @include background-color($td-dark-gray);
}

.td-bg-dark-brown {
  @include background-color($td-dark-brown)
}

.td-bg-white {
  @include background-color($td-white);
}

.td-bg-ash {
  @include background-color($td-ash);
}

.td-bg-yellow {
  @include background-color($td-yellow);
}

.td-bg-red {
  @include background-color($td-red);
}

.td-bg-brown {
  @include background-color($td-brown);
}

.td-bg-water-gray {
  @include background-color($td-water-gray);
}

.td-bg-light-brown {
  @include background-color($td-light-brown);
}

a {
  font-family: $td-proxima-regular;
  font-size: $td-font-size-normal;
  text-decoration: none;

  &.btn {
    font-family: $td-proxima-nova-light;
  }

  &:hover, &:focus {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
    outline-offset: 0;
  }
}

p {

  a {
    text-decoration: underline;
  }

}

nav a {
  font-family: $td-proxima-nova-light;

}














